---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page page-attachment-b">
      <div class="wrap">
        <a href="{{site.baseurl}}/" class="a-back">&larr; Back to the overview</a>
        <h1 class="page-title">Form 7600B, Attachment B</h1>
        <h2>Additional Clauses</h2>

        <p>This agreement is to reimburse for the actual costs (as explained in the SOW) incurred by GSA.  </p>
        <p>GSA may incur unanticipated incidental costs related to work on this project, including but not limited to travel expenses and materials purchases. GSA may use the purchase card for necessary micro-purchases as defined in FAR 2.101.  GSA may invoice the requesting agency for such costs provided each cost is pre-approved by the requesting agency.</p>
        <p>This agreement will be effective for the period identified in Form 7600B, Box 27.</p>
      
      </div>
    </main>
  </body>
</html>
