---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page page-attachment-a">
      <div class="wrap">
        <a href="{{site.baseurl}}/" class="a-back">&larr; Back to the overview</a>
        <h1 class="page-title">Form 7600A, Attachment A</h1>
        <h2>Additional Clauses</h2>

        <p>These additional clauses are part of every 18F agreement.</p>
        
        <section class="section-attachment">
          <h1>
            <span class="section-attachment-number">1.0</span>
            Funding and Reimbursement
          </h1>
          <p>The servicing agency is limited to recovery of actual and fixed costs only. The requesting agency and servicing agency will reconcile the underlying volume numbers used to calculate the amounts in this agreement, no later than monthly. Once the volume has been determined, funding under this agreement will be adjusted accordingly. If it is determined that a refund to the requesting agency is necessary, those will be provided via IPAC. </p>
          <p>The servicing agency POC will notify the requesting agency POC if it appears that performance will exceed the total estimated costs identified in block 30 of any 7600B issued under this agreement. The servicing agency also agrees to cease or curtail performance as may be necessary until the cost issue is resolved, and the parties will decide whether they want to amend this IAA or execute a new IAA for any additional work above the estimated agreement amount of this IAA. The servicing agency agrees to use its best efforts to perform the work specified in this Agreement within the not-to-exceed amount.</p>
        </section>
        <section class="section-attachment">
          <h1>
            <span class="section-attachment-number">2.0</span>
            Billing Instructions/Support Documentation for Expenditures
          </h1>
          <p>The parties agree to the following:</p>
          <p>Billing and reimbursement may be handled through the Intra-governmental Payment and Collection (IPAC) system. The IAA number, the Agency Locator Codes, appropriate accounting code(s), and associated dollar amounts must be referenced on all IPAC transactions or invoices. The servicing agency shall provide documentation supporting all charges to the requesting agency&rsquo;s COTR/POC.</p>
          <p>Both agencies agree to promptly discuss and resolve issues and questions regarding payments. The servicing agency will promptly initiate year-end and closeout adjustments once final costs are known.</p>
        </section>
        <section class="section-attachment">
          <h1>
            <span class="section-attachment-number">3.0</span>
            Requesting Agency Program Office Responsibilities
          </h1>
          <p>The requesting agency POC and the servicing agency program office shall be responsible for technical oversight of the specified services. In carrying out these responsibilities, they will operate within the scope of applicable regulations, specifically delegated authorities, and the program authorities and funding limitations of the IAA. The POC has no authority to make changes to the terms of the IAA.</p>
        </section>
        <section class="section-attachment">
          <h1>
            <span class="section-attachment-number">4.0</span>
            Project Completion and Closeout
          </h1>
          <p>When the requesting agency has accepted all deliverables related to the IAA, the servicing agency will provide a final accounting of project costs to the requesting agency CO. The servicing agency account will then be closed and any remaining funds will be returned to the requesting agency immediately. After final accounting, the remaining balance in the project account will be de-obligated by IAA modification.</p>
        </section>
        <section class="section-attachment">
          <h1>
            <span class="section-attachment-number">5.0</span>
            Accessibility of Electronic and Information Technology
          </h1>
          <p>Each Electronic and Information Technology (EIT) product or service furnished under this agreement shall comply with the Electronic and Information Technology Accessibility Standards (36 CFR 1194), which implements section 508 of the Rehabilitation Act of 1973, as amended (29 U.S.C. 794d).</p>        
        </section>
        <section class="section-attachment">
          <h1>
            <span class="section-attachment-number">6.0</span>
            Free and Open Source Policy
          </h1>
          <p>The requesting agency acknowledges the servicing agency&rsquo;s commitment to free and open source principles which may be found in the link below.</p>
          <code>https://github.com/18F/open-source-policy/blob/master/policy.md</code>
        </section>
        <section class="section-attachment">
          <h1>
            <span class="section-attachment-number">7.0</span>
            Communications
          </h1>
          <p>The requesting agency acknowledges that the servicing agency may write or speak about work or the process of creating such work in blog posts, case studies or other means of communication. 18F agrees not to release any procurement sensitive information related to this interagency agreement.</p>        
        </section>
      </div>
    </main>
  </body>
</html>