---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page-form-7600a-index">
      <div class="wrap">
        <header>
          <h1 class="page-title">7600As</h1>
          <a class="button button-new" href="edit.html">New</a>          
        </header>
        <article class="form-7600a">
          <dl>
            <dt class="requesting-agency">Requesting agency</dt>
            <dd class="requesting-agency"><a href="edit.html">{parties-requesting-agency-name}</a></dd>
            <dt class="id-number">ID number</dt>
            <dd class="id-number">{gtc-number} - 0000 - {mod-number}</dd>
          </dl>
          <div class="form-7600a-actions">
              <a class="edit" href="edit.html">Show/edit</a>
              <form class="pdf">
                <button>Generate PDF</button>
              </form>
              <form>
                <button class="button button-delete">Delete</button>
              </form>
          </div>
        </article>
        <article class="form-7600a">
          <dl>
            <dt class="requesting-agency">Requesting agency</dt>
            <dd class="requesting-agency">{parties-requesting-agency-name}</dd>
            <dt class="id-number">ID number</dt>
            <dd class="id-number">{gtc-number} - 0000 - {mod-number}</dd>
          </dl>
          <div class="form-7600a-actions">
            <a class="edit" href="edit.html">Show/edit</a>
            <form class="pdf">
              <button>Generate PDF</button>
            </form>
            <form class="delete">
              <button class="button button-delete">Delete</button>
            </form>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>