/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @group bootstrap */

body{
	font-family: "Roboto", helvetica neue, helvetica, sans-serif;
	font-size: 16px;
	color: #333;
}

a{ color: #0064be; }
a:hover{ color: #003c72; }


a.a-return{ 
	color: #666; 
	font-size: 14px;
	display: block;
	padding-top: 8px;
}

a.a-return::before{
	content: "\2190";
	color: #888;
	margin-left: 4px;
	margin-right: 10px;
	display: inline-block;
	background: #f3f3f3;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 100%;
	text-align: center;
	
}
a.a-return:hover{ color: #333; }
a.a-return:hover::before{ color: #444; background: #eee;}





@media screen and (min-width: 568.88px) {
}

p, li, dd, dt {
	line-height: 1.5em;
	max-width: 36em;
	margin-bottom: 0.7em;
}

div.wrap{
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

div.wrap::after{
	content: "";
	display: table;
	clear: both;
}

/* @end */

/* @group header.banner */

header.banner{
	background: #f3f3f3;
	line-height: 64px;
	height: 48px;
	font-size: 16px;
	color: #555;
	margin-bottom: 1em;
}

header.banner a{
	color: inherit;
	text-decoration: none;
}

header.banner .logo {
	float: left;
	width: 48px;
	height: 48px;
	background: #18F;
	color: white;
	text-align: right;
	padding-right: 6px;
	font-size: 16px;
	margin-right: 12px;
}

@media screen and (min-width: 568.88px){
	header.banner{
		line-height: 96px;
		height: 72px;
		font-size: 24px;	}
	
	header.banner .logo{
		width: 72px;
		height: 72px;
		padding-right: 8px;
		font-size: 32px;
		margin-right: 24px;
	}

}

/* @end */

main { padding-top: 1em; }
a.a-back{
	color: #555;
	font-size: 14px;
	margin-top: -1em;
	margin-bottom: 2em;
	display: block;
}
main h1.page-title {
	font-family: Roboto;
	font-size: 32px;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 0.4em;
	color: inherit;
}

main h1 {
	font-family: Playfair Display, PT Serif, georgia;
	font-size: 24px;
	font-weight: 600;
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #333;
}


main p.synopsis {
	font-family: PT Serif, georgia;
	font-size: 20px;
	line-height: 1.4em;
}

figure{
	margin-top: 2.4em;
	margin-bottom: 2em;
}

figcaption p{
	font-size: 14px;
	line-height: 1.33em;
}

figure img{
	width: 100%;
	margin-bottom: 0.4em;
	
}

main ol {
	list-style-type: decimal;
	margin-left: 1.4em;
}

main .h-card {
	padding-left: 72px;	
	min-height: 72px;
	position: relative;
	line-height: 1.33em;
	font-size: 14px;
}

main .h-card img{
	width: 64px;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 0;	
}

main .h-card .p-name{ font-weight: 700;}
main .h-card a{
	color: #666;
}

ol.table-of-contents{
	list-style-type: none;
	margin: 2em 0 2.8em;
	counter-reset: step;
	padding-left: 4px;
	border-left: 2px solid #eee;
	margin-left: 1em;
}

ol.table-of-contents li{
	padding: 1em 0.4em;
	counter-increment: step;
	position: relative;
}

ol.table-of-contents li:last-child{ padding-bottom: 0;}

ol.table-of-contents li::before{
	content: counter(step);
	display: block;
	background: #555;
	font-size: 14px;
	color: white;
	padding: 0.1em 0.6em 0;
	width: 24px;
	position: absolute;
	left: -16px;
	top: -1em;
	text-align: center;
}
body.welcome ol ol { list-style-type: lower-latin; margin-bottom: 1.2em;}


@media screen and (min-width: 568.88px){

main h1.page-title{ margin-bottom: 0.4em; }
main p.synopsis { line-height: 1.5em; }

ol.table-of-contents{
	margin-top: 2.4em;
	padding: 0;
	margin-left: 0;
	margin-bottom: 1.5em;
	border: 0;
	border-top: 2px solid #f3f3f3;
}


ol.table-of-contents li::before{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 36px;
	padding-top: 4px;
	padding-bottom: 12px;
	background: #f3f3f3;
	color: #555;
	font-family: Playfair Display, PT Serif;
	font-size: 24px;
	text-indent: -0.05em;
}

ol.table-of-contents::after{
	content: "";
	display: table;
	clear: both;
}

  ol.table-of-contents li{	
		float: left;
		width: 30%;
		padding: 0.4em;
		padding-left: 48px;
		margin-right: 5%;
		margin-left: 0;
		line-height: 1.33em;
  }

  ol.table-of-contents li:last-child{
	margin-right: 0;
  }

	main { font-size: 18px; }
	main h1 { font-size: 28px; }
	main h1.page-title { 
		font-size: 36px; 
		margin-bottom: 0.5em;
	}
	main p.synopsis { font-size: 24px; }
	
	figure{
		width: 100%;
		max-width: 36em;
		box-sizing: border-box;
		padding-right: 12em;
		margin-right: -12em;
		position: relative;
	}
	
	figcaption{
		width: 11em;
		padding-left: 1em;
		position: absolute;
		top: 50%;
		margin-top: -4em;
		right: 0;
	}


main .h-card {
	padding-left: 112px;	
	min-height: 112px;
	position: relative;
	line-height: 1.33em;
	font-size: 16px;
	margin-top: 2em;
	padding-top: 4px;
}

main .h-card img{
	width: 96px;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 0;	
}


}



/* @group footnotes */

footer {
	border-top: 1px solid #333;
	padding-top: 8px;
	margin-top: 2em;
	margin-bottom: 2em;
	max-width: 36em;
}

main footer h1:first-child{ 
	font-family: Roboto Condensed; 
	font-weight: 600; 
	text-transform: uppercase;
	font-size: 16px;
	margin: 0 0 12px;
	color: #333;
	
}


footer li{
	position: relative;
	padding-right: 1.4em;
	padding-top: 8px;
	margin-bottom: 0;	
}

footer li,
footer li p{
	font-size: 14px;
	line-height: 1.4em;
}

footer li p:last-child{ margin-bottom: 0;}
footer a[aria-label]{
	position: absolute;
	right: 0;
	top: 10px;
	color: #555;
	text-decoration: none;
	background: #eee;
	width: 1.6em;
	height: 1.6em;
	font-size: 12px;
	line-height: 1.9em;
	text-align: center;
	border-radius: 100%;
}


body {
  counter-reset: footnotes;
}
 
/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
a[aria-describedby="footnote-label"] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
}
 
a[aria-describedby="footnote-label"]::after {
  content: counter(footnotes);
  font-size: 0.8em;
  margin-left: 0.1em;
  color: #888;
  cursor: pointer;
  margin-right: -0.1em;
  position: relative;
  top: -0.4em;
  z-index: 1;
}
 
/**
 * Resetting the default focused styles on the number
 */
a[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

footer :target {
  background: yellow;
}



/* @end */